extends layout

block content
  .houses
    .houses__title 
      | Our Latest Developments
    .houses__data
      .wrapper.showWrapper
        .houses__data_card
          .card_cover
            img(src="./images/house1.png", alt="House number 1")
            .card_cover_purpose
              | Independed living
          .card-info
            .card-info__name  
              | Brunlees Court
            .card-info__address-price
              | 19-23 Cambridge Road, Southport
              br
              br
              | New Properties for Sale from 
              strong
                | &#163;214,999
            .card-info__ownership
              | Shared Ownership Available
        .houses__data_card
          .card_cover
            img(src="./images/house2.png", alt="House number 2")
            .card_cover_purpose
              | Independed living
          .card-info
            .card-info__name  
              | Charlotte Court
            .card-info__address_price
              | 19-23 Cambridge Road, Southport
              br
              br
              | New Properties for Sale from 
              strong
                | &#163;214,999
            .card-info__ownership
              | Shared Ownership Available
        .houses__data_card
          .card_cover
            img(src="./images/house3.png", alt="House number 3")
            .card_cover_purpose.orange
              | Restaurant & Support available
          .card-info
            .card-info__name  
              | Grove Court
            .card-info__address_price
              | 19-23 Cambridge Road, Southport
              br
              br
              | New Properties for Sale from 
              strong
                | &#163;214,999
            .card-info__ownership
              | Shared Ownership Available
      .wrapper
        .houses__data_card
          .card_cover
            img(src="./images/house1.png", alt="House number 1")
            .card_cover_purpose
              | Independed living
          .card-info
            .card-info__name 
              | Brunlees Court
            .card-info__address_price
              | 19-23 Cambridge Road, Southport
              br
              br
              | New Properties for Sale from 
              strong
                | &#163;214,999
            .card-info__ownership
              | Shared Ownership Available
        .houses__data_card
          .card_cover
            img(src="./images/house2.png", alt="House number 2")
            .card_cover_purpose
              | Independed living
          .card-info
            .card-info__name  
              | Charlotte Court
            .card-info__address_price
              | 19-23 Cambridge Road, Southport
              br
              br
              | New Properties for Sale from 
              strong
                | &#163;214,999
            .card-info__ownership
              | Shared Ownership Available
        .houses__data_card
          .card_cover
            img(src="./images/house3.png", alt="House number 3")
            .card_cover_purpose.orange
              | Restaurant & Support available
          .card-info
            .card-info__name  
              | Grove Court
            .card-info__address_price
              | 19-23 Cambridge Road, Southport
              br
              br
              | New Properties for Sale from 
              strong
                | &#163;214,999
            .card-info__ownership
              | Shared Ownership Available
      .wrapper
        .houses__data_card
          .card_cover
            img(src="./images/house1.png", alt="House number 1")
            .card_cover_purpose
              | Independed living
          .card-info
            .card-info__name  
              | Brunlees Court
            .card-info__address_price
              | 19-23 Cambridge Road, Southport
              br
              br
              | New Properties for Sale from 
              strong
                | &#163;214,999
            .card-info__ownership
              | Shared Ownership Available
        .houses__data_card
          .card_cover
            img(src="./images/house2.png", alt="House number 2")
            .card_cover_purpose
              | Independed living
          .card-info
            .card-info__name  
              | Charlotte Court
            .card-info__address_price
              | 19-23 Cambridge Road, Southport
              br
              br
              | New Properties for Sale from 
              strong
                | &#163;214,999
            .card-info__ownership
              | Shared Ownership Available
        .houses__data_card
          .card_cover
            img(src="./images/house3.png", alt="House number 3")
            .card_cover_purpose.orange
              | Restaurant & Support available
          .card-info
            .card-info__name  
              | Grove Court
            .card-info__address_price_price
              | 19-23 Cambridge Road, Southport
              br
              br
              | New Properties for Sale from 
              strong
                | &#163;214,999
            .card-info__ownership
              | Shared Ownership Available
    .houses__moreBtn
      button.btn See more 
        i(class="fas fa-chevron-right")
          
        
      
    
